.form_group.error input{
    border: 1px solid red;
}
.form_group.success input{
    border: 1px solid rgb(18, 219, 18);
}
.form_group ion-icon{
    position: absolute;
    top: 35px;
    right: 20px;
    /* visibility: hidden; */
    font-size: 30px;
}
.form_group.error .false{
    visibility: visible;
    color: red;
}
.form_group.success .false{
    visibility: hidden;
}
.form_group.success .true{
    visibility: visible;
    color: rgb(18, 219, 18);
}
.form_group.error .true{
    visibility: hidden;
}
